// *****************************************************************************************
//
// File description:
//
// Author:	Joao Costa
// Purpose:	Jade programming language example
//
// *****************************************************************************************


helloWorld();

begin
   write "Hello, World!";
end;
